
body {
font-family: 'Alegreya Sans', sans-serif;
margin:auto;
overflow-x:hidden;
}

@media(min-width: 81em) {
	.row {
		padding-left: 4em;
		padding-right: 4em; 
	}
}
@media(max-width: 74em){
	.row{padding-left:2em;
		padding-right: 2em;}
}
@media(max-width: 53em) {
	.screen-sm.col-2of12{
		width:100%;
	}
.row{padding-left:1em;
	padding-right: 1em;}
}
a{
	text-decoration: none;
	color:#333333;
}
.container{
	margin: auto ;
	padding-top: 6em;
	max-width: 81em;
}
.text-center{
	text-align: center;
}
.img-responsive {
	width: 100%;
	margin: auto;
}
.product-description{
	text-align: right;
}
.logo{
	width:6em;
	margin:auto;
	margin-top: -0.4em
}
.social-media-logo{
	width:5.5em;
	margin-top:1.5em;
	padding-right:.4em;
	padding-left: .4em;
	padding-bottom: 3em;

}
.shopping-cart{
	color: white;
	font-size: 2em;
	display: inline-block;
  	margin-top: -0.3em; 
	padding-left:1em;
}
.login-link{
	color: white;
	vertical-align:top;
}
.facebook{
	padding: .6em 1em 0 0; 
	display: inline-block;
	font-size: 1.3em;
}
.twitter{
	font-size: 1.3em;
}

/* ---------  navigation  ------------ */
.top-nav{
	padding-top:0.5em;
	text-align: center;
}

.middle{
	text-align: center;
}
nav{
	text-align: center;
	background-color:rgba(0,0,0,0.7);
	padding:2em 0 1.5em;
	width: 100%;
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
}
nav div.row, nav div.row div div.row{
	padding:0.1em inherit;
} 
a.nav-item{
color:white;
 margin:0;
 padding: 0.2em 0;
 position: relative;
 z-index: 0;
 cursor: pointer;
}
a.nav-item:before, a.nav-item:after{
 position: absolute;
 opacity: 0;
 width: 0%;
 height: 0.1em;
 content: '';
 background: #FFF;
 transition: all 0.3s;
}
a.nav-item:before{
	left:0;
	top:0;
}
a.nav-item:after{
	right:0;
	bottom:0;
}
a.nav-item:hover:before, a.nav-item:hover:after{
	opacity:1;
	width:100%;
}

/* ---------  color  ------------ */
.white{
	color:#fff;
}
/* ---------  Heading  ------------ */
h1 {
	font-size: 2rem;
	font-weight: 200;
}
h2 {
	font-weight: 300;
	font-size: 1.5rem;
}
h3 {
	font-weight: 400;
	font-size: 1.2rem;
}
h4 {
	font-weight: 500;
	font-size: 1rem;
}
h5 {
	font-size: 0.8rem;
}
/* ---------  Text Input  ------------ */
p.text-input {
	position: relative;
	  margin: 1.5em 0em;
}

input {
	background: transparent;
	width: 80%;
	height: 3.2em;
	padding-left: 5px;
	border: 1px solid #ccc;
	transition: border-left 0.5s ease-out;
	-webkit-transition: border-left 0.5s ease-out;
}
p.contact input{
	width: 100%;
}
p.contact textarea{
	width: 100%;
	min-height:7em;
}
label {
	position: absolute;
	left: 10px;
	top: 9px;
	color: #879EAD;
	font-size: 0.8em;
	transition-property: top, left;
	transition-duration: .2s;
	transition-timing-function: ease;
	z-index: -10;
}
input:focus ~ label, input.show ~ label {
	top: -20px;
	left: 0;
	color: rgba(135, 158, 173, 0.7);
	font-size: 0.7em;
}
input:focus {
	outline: none;
	border-color: rgba(135, 158, 173, 0.7);
	border-left: 5px solid #879EAD;
}
input:focus ~ label:after, input.show ~ label:after {
	content: ":";
}

/* ---------  in-text link ------------ */

a.text-link {
	color: #879EAD;
	font-size: 1em;
	text-decoration: none;
	transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
}
a.text-link:hover, a.text-link:focus {
	color: #9DBED3;
	text-decoration: underline;
}

/* ---------  submit/reset button  ------------ */

.submit-btn {
	background-color: rgba(135, 158, 173, 0.7);
	border: 1px solid #879EAD;
	color: #FFF;
	display: inline-block;
	padding: 0.8em 1.25em;
	font-weight: 300;
	font-size: 0.9em;
	text-decoration: none;
	transition: background-color 0.5s ease-out;
	-webkit-transition: background-color 0.5s ease-out;
	float:right;
}
.submit-btn:hover, .submit-btn:focus {
	background-color: rgba(135, 158, 173, 0.4);
}


/* ---------  about us  ------------ */




.minificha-tabs li input[type=radio] {
	display: none;
}

.minificha-tabs{
	position: relative;
}


.minificha-tabs label {
display: block;
position: relative;
cursor: pointer;
width: 25%;
background-color: #fff;
padding: 10px;
text-align: center;
z-index: 1;
}
.minificha-tabs .tab {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 1.2em;
}
.minificha-tabs .tab:nth-child(2) label {
  margin-left: 25%;
}

.minificha-tabs .tab:nth-child(3) label {
  margin-left: 50%;
}

.minificha-tabs .tab:nth-child(4) label {
  margin-left: 75%;
}
.minificha-tabs .tab-content {
	opacity: 0;
	padding: 10px;
	-webkit-transition: opacity .5s ease-out;
  	transition: opacity .5s ease-out;
}
.aboutUs-tabs{
	color:#5B5A5B; 
}
.minificha-tabs input[type=radio]:checked ~ label {
  
	-webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
	background-color: #262626;
  color: white
}
.minificha-tabs input[type=radio]:checked ~ .tab-content {
	-webkit-transition: opacity .5s ease-out;
  	transition: opacity .5s ease-out;
	opacity: 1;
	left: 0;
	
}
 .tab-content {
 	font-size: 1rem;
 }

ul.minificha-tabs{
	list-style-type: none;
}



/* ---------  ------------ ------------ */



/* ---------  owl carousel  ------------ */
#owl-demo .item{
  margin: 0.1em;
}
#owl-demo .item img{
  display: block;
  margin: auto;
}
.owl-item{background-color: rgba(255,255,255,0.2);
	border:1px solid rgba(83, 98, 102,0);

}
.owl-item.active{
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	background-color: rgba(255,255,255,1);
	border:1px solid rgba(83, 98, 102,1);
}
.owl-buttons{display:none;}

.homepage-bg .owl-controls.clickable{
	position:absolute;
	bottom:0;
	width:100%;
}
#owl-demo .item.home-item{
	margin: -0.1em;
	background-color: rgb(211, 215, 218);

}

.billing-info{
	  padding: 0.3em 0;
}
/* ---------  store  ------------ */
.store{
	position: absolute;
	background-color: rgb(255, 255, 255);
	padding: 0.5em 1em;
	border:1px solid rgb(223, 81, 81);;
	border-left: 6px solid rgb(223, 81, 81);;
}
.store-point{
	cursor:pointer;
}
.close-store{
	position: absolute;
  	right: 10px;
  	top: 0;
  	color: rgb(223, 81, 81);
}
/* ---------social icons------------ */
a.social {
	font-size: 3em;
	color: #FFFFFF;
	background-color: #4b4d4d;
	width: 2em;
	height: 2em;
	padding-top: 0.5em;
	border-radius: 1em;
	margin: 0.2em;
	display: inline-block;
}
.social-icons{
	padding:6em 0 2em;
}
#contact-body{
	background-image:url('http://www.ziiiro.com/wp-content/uploads/2015/04/banner-legs.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

