
body {
	font-family: 'Alegreya Sans', sans-serif;
	margin:auto;
}

a{
	text-decoration: none;
	color:#333333;
}

.shopping-cart{
	  font-size: 2em;
  vertical-align: top;
  padding-left:1em;
}
.facebook{padding-right: 1em;}

/* ---------  navigation  ------------ */
.top-nav{
	padding-top:0.5em;
	text-align: center;
}
nav{
	text-align: center;
	background-color:rgba(0,0,0,70);
	height:6em;
	padding:2em 0px 1em;
	position: fixed;
  left: 0;
  top: 3.7em;
  width: 100%;

}
nav .row div a{
	color:white;
}


/* ---------  color  ------------ */
.white{
	color:#fff;
}
